:root {
  --color-1: #4d5ae5;
  --color-2: #2e2f42;
  --color-3: #404bbf;
  --color-4: #ffffff;
  --color-5: #f4f4fd;
  --color-6: #434455;
  --color-7: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-6);
  background-color: var(--color-4);
}

img {
  display: block;
}
/* обнуление h, p, ul  */
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}

.container {
  /* стандартизация контента */
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.web-studio {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

/* Logo */
.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-1);

  display: inline-block;

  margin-bottom: 16px;
}
.nav-logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-1);
  margin-right: 76px;
  display: inline-block;
}

.link {
  text-decoration: none;
}

.web-studio-nav {
  color: var(--color-2);
}

.list {
  list-style: none;
  /*  display: flex;
  gap: 24px;
  justify-content: center;    */
}
.list-main {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}

.list-one {
  width: calc((100% - 3 * 24px) / 4);
}

.nav-studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-2);
  padding-top: 24px;
  padding-bottom: 24px;

  display: block;
}

.nav-studio:hover,
.nav-studio:focus {
  color: var(--color-3);
}

/* Top Line adressa info  */
.address {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.32px;
  margin-left: auto;
  margin-bottom: 24px;
  margin-top: 24px;
}

.address-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-6);
}

.address-lnfo-list {
  display: flex;
  gap: 40px;
}

.address-info:hover,
.address-info:focus {
  color: var(--color-3);
}

/* Section 1  */
.filter {
  background-color: var(--color-2);
}

.list-filter-h1 {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-4);
}

.button-all {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-1);
  background-color: var(--color-5);
  padding: 12px 24px;
  border: 1px solid var(--color-7);
  border-radius: 4px;
}

.button-all:hover,
.button-all:focus {
  color: var(--color-4);
  background-color: var(--color-3);
  cursor: pointer;
  border: 1px solid transparent;
}

.list-row1 {
  list-style: none;
}

.list-main-filter {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-2);
  margin-bottom: 8px;
}

.list-filter-portfolio {
  width: calc((100% - 48px) / 3);
}
.div-list-portfolio {
  padding: 32px 16px;
  border: 1px solid var(--color-7);
  border-top: none;
}

.portfolio-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-6);
}

/*  Footer  */
.footer {
  background-color: var(--color-2);
  padding-top: 100px;
  padding-bottom: 100px;
}

.color-logo-header {
  color: var(--color-5);
}

.footer-poragrof {
  line-height: 1.5;
  color: var(--color-5);
  letter-spacing: 0.02em;
  max-width: 264px;
}

.section-one {
  background-color: var(--color-2);
  padding-top: 188px;
  padding-bottom: 188px;
}

.section-one-h {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-4);
  max-width: 496px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.button-section-one {
  background-color: var(--color-1);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-4);
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;

  margin-left: auto;
  margin-right: auto;
}

.button-section-one:hover,
.button-section-one:focus {
  background-color: var(--color-3);
}

.section-two {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-2);
  margin-bottom: 8px;
}

.list-section-two {
  display: flex;
  gap: 24px;
}
.section-blok-two {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list-section-two-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-6);
}

.section-three-h {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-2);
  margin-bottom: 72px;
}
.name-proffesion-one {
  padding-top: 32px;
  padding-bottom: 32px;
}

.list-section-three {
  display: flex;
  gap: 24px;
}
.section-blok-three {
  padding-bottom: 120px;
}

.section-four {
  background-color: var(--color-5);
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-list-three {
  width: calc((100% - 3 * 16px) / 3);
}

.section-four-h {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-2);
  margin-bottom: 72px;
}

.list-section-four-tram {
  display: flex;
  gap: 24px;
  text-align: center;
}
.list-section-four {
  background-color: var(--color-4);
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.header {
  border-bottom: 1px solid #e7e9fc; /* нижний край header */
}
.header-div {
  display: flex;
}

.main-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
